<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="html/css/bootstrap.min-v5.3.2.css">
    <title>norway consulting timesheet</title>
    <style>
     html {
         font-family: helvetica,arial,sans-serif;
         font-size: 100%;
     }

     table {
         table-layout: auto;
         font-size: 100%;
         margin: 1em;
         border: none;
         border-collapse: collapse;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 1.6em;
    }

     table caption {
        text-align: center;
        font-weight: bold;
     }

     thead tr th {
        border-bottom: 1px solid #000000;
        text-align: center;
        font-weight: bold;
        padding: 3px;
    }
     tfoot tr th {
        border-top: 1px solid #000000;
        font-weight: bold;
        padding: 3px
    }

    td {
         padding: 5px;
    }
</style>
</head>
<body>
<div class="invoice-title">
    <img src="html/image/norway-consulting-logo-horizontal.png" alt="norway consulting as">
</div>
<table>
    <caption>{{title}}</caption>
    <tr>
        <td>Konsulentnavn</td>
        <td>:</td>
        <td>Gunnar Rønneberg</td>
    </tr>
    <tr>
        <td>Oppdragsgiver</td>
        <td>:</td>
        <td>CatalystOne Solution AS</td>
    </tr>
    <tr>
        <td>Kons.leverandør</td>
        <td>:</td>
        <td>Norway Consulting AS</td>
    </tr>
    <tr>
        <td>Kontaktperson NC</td>
        <td>:</td>
        <td>Anita Lundtveit,+47 973 01 271</td>
    </tr>
    <tr>
        <td>Timeliste sendes</td>
        <td>:</td>
        <td>Anita@norway-consulting.no</td>
    </tr>
    <tr>
        <td>Måned/årstall</td>
        <td>:</td>
        <td>{{timesheetPeriod}}</td>
    </tr>
    <tr>
        <td>Tilbakemelding</td>
        <td>:</td>
        <td></td>
    </tr>
</table>

<table>
    <caption>Oversikt fakturerte timer</caption>
    <thead>
    <tr>
        <th class="text-center">Dato</th>
        <th class="text-center">Fra</th>
        <th class="text-center">Til</th>
        <th class="text-center">Antall timer</th>
        <th class="text-center">Beskrivelse av bistand</th>
    </tr>
    </thead>
    <tbody>
    {{#timesheetEntryList}}
    <tr>
        <td class="text-center">{{workdayDateDay}}</td>
        <td class="text-center">{{fromTime}}</td>
        <td class="text-center">{{toTime}}</td>
        <td class="text-end">{{workedHours}}</td>
        <td class="text-start">{{comment}}</td>
    </tr>
    {{/timesheetEntryList}}
    </tbody>
    <tfoot>
    <tr>
        <th class="text-center">Sum</th>
        <th colspan="2" class="text-end">{{sunWorkDays}}</th>
        <th class="text-end">{{sunBilledHours}}</th>
        <th></th>
    </tr>
    </tfoot>
</table>

</body>
</html>