<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min-v5.3.2.css">
    <title>norway consulting timesheet</title>
    <style>
            .table > tbody > tr > .w-15 {
                width: 15%;
            }
            .table > tbody > tr > .wf-10 {
                width: 10px;
            }
    </style>
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="row mt-3">
        <div class="col-md">
            <img class="img-fluid float-start"
                 src="image/norway-consulting-logo-horizontal-resized-2.png"
                 alt="norway consulting">
        </div>
    </div>
    <!-- Title -->
    <div class="row mt-3">
        <div>
            <h2>{{title}}</h2>
        </div>
    </div>
    <!-- information -->
    <div class="row mt-3">
        <table class="table table-borderless align-middle">
            <tbody>
                <tr>
                    <td class="w-15 fw-bold"><strong>Konsulentnavn</strong></td>
                    <td class="wf-10">:</td>
                    <td>{{consultantName}}</td>
                </tr>
                <tr>
                    <td class="w-15 fw-bold"><strong>Oppdragsgiver</strong></td>
                    <td class="wf-10">:</td>
                    <td>CatalystOne Solution AS</td>
                </tr>
                <tr>
                    <td class="w-15 fw-bold"><strong>Kons.leverandør</strong></td>
                    <td class="wf-10">:</td>
                    <td>{{clientName}}</td>
                </tr>
                <tr>
                    <td class="w-15 fw-bold"><strong>Kontaktperson NC</strong></td>
                    <td class="wf-10">:</td>
                    <td>{{clientContactPersonName}},{{clientContactPersonMobile}}</td>
                </tr>
                <tr>
                    <td class="w-15 fw-bold"><strong>Timeliste sendes</strong></td>
                    <td class="wf-10">:</td>
                    <td>{{clientContactPersonEmail}}</td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <td class="w-15 fw-bold"><strong>Måned/årstall</strong></td>
                    <td class="wf-10">:</td>
                    <td>{{timesheetPeriod}}</td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <td class="w-15"><strong>Tilbakemelding</strong></td>
                    <td class="wf-10">:</td>
                    <td>&nbsp</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-3">
        <!-- timesheet table -->
        <table class="table table-bordered align-middle">
            <thead>
            <tr>
                <th class="text-center">Dato</th>
                <th class="text-center">Fra</th>
                <th class="text-center">Til</th>
                <th class="text-center">Antall timer</th>
                <th class="text-center">Beskrivelse av bistand</th>
            </tr>
            </thead>
            <tbody>
            {{#timesheetEntryDtoList}}
            <tr>
                <td class="text-center">{{workdayDateDay}}</td>
                <td class="text-center">{{fromTime}}</td>
                <td class="text-center">{{toTime}}</td>
                <td class="text-end">{{workedHours}}</td>
                <td class="text-start">{{comment}}</td>
            </tr>
            {{/timesheetEntryDtoList}}
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center"><strong>Sum</strong></td>
                <td colspan="2" class="text-end">&nbsp</td>
                <td class="text-end"><strong>{{sunBilledHours}}</strong></td>
                <td>&nbsp</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>