<!DOCTYPE html>
<html>
<head>
<style type="text/css">
         html {
                        font-family: helvetica,arial,sans-serif;
                        font-size: 100%;
                    }

                 table {
                     table-layout: auto;
                     font-size: 100%;
                     margin: 1em;
                     border: none;
                     border-collapse: collapse;
                     margin-left: auto;
                     margin-right: auto;
                     margin-bottom: 1.6em;
                }

                 table caption {
                    text-align: center;
                    font-weight: bold;
                 }

                 thead tr th {
                    border-bottom: 1px solid #000000;
                    text-align: center;
                    font-weight: bold;
                    padding: 3px;
                }
                 tfoot tr th {
                    border-top: 1px solid #000000;
                    font-weight: bold;
                    padding: 3px
                }

                td {
                     padding: 5px;
                }
</style>
</head>
<body>

<table>
    <caption>{{title}}</caption>
    <tr>
        <td>Firma</td>
        <td>:</td>
        <td>{{company.name}}</td>
    </tr>
    <tr>
        <td>Forretningsadresse</td>
        <td>:</td>
        <td>{{company.address.streetName}} {{company.address.streetNumber}}, {{company.address.postCode}} {{company.address.city}}</td>
    </tr>
    <tr>
        <td>Organisasjonsnummer</td>
        <td>:</td>
        <td>{{company.organizationNumber}}</td>
    </tr>
    <tr>
        <td>Bankkonto</td>
        <td>:</td>
        <td>{{}company.bankAccountNumber}</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td>Kunde</td>
        <td>:</td>
        <td>{{client.name}}</td>
    </tr>
    <tr>
        <td>Adresse</td>
        <td>:</td>
        <td>Grensen 16, 0159 Oslo</td>
    </tr>
    <tr>
        <td>Telefon</td>
        <td>:</td>
        <td>{{client.address.streetName}} {{client.address.streetNumber}}, {{client.address.postCode}} {{client.address.city}}</td>
    </tr>
    <tr>
        <td>Prosjektkode</td>
        <td>:</td>
        <td>techlead-catalystone-solution-as</td>
    </tr>
    <tr>
        <td>Kontaktperson</td>
        <td>:</td>
        <td>{{client.contactPerson.firstName}} {{client.contactPerson.lastName}}</td>
    </tr>
</table>

<table>
    <caption>Oversikt fakturerte timer</caption>
    <thead>
    <tr>
        <th align="center">År</th>
        <th align="center">Mnd</th>
        <th align="center">Uke</th>
        <th align="center">Fra/til dato</th>
        <th align="center">Timer</th>
        <th align="center">Beløp</th>
    </tr>
    </thead>
    <tbody>
        {{#invoiceSummaryList}}
            <tr>
                <td align="center">{{year}}</td>
                <td align="center">{{month}}</td>
                <td align="center">{{weekInYear}}</td>
                <td align="center">{{fromDateDDMM}} - {{toDateDDMM}}</td>
                <td align="right">{{totalWorkedHours}}</td>
                <td align="right">{{sumBilledWork}}</td>
            </tr>
        {{/invoiceSummaryList}}
    </tbody>
    <tfoot>
    <tr>
        <th align="center">Sum</th>
        <th colspan="3">&nbsp;</th>
        <th align="right">{{totalBilledHours}}</th>
        <th align="right">{{sumBilledAmount}}</th>
    </tr>
    </tfoot>
</table>

</body>
</html>