<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="html/css/bootstrap.min-v5.3.2.css">
    <title>norway consulting timesheet</title>
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="row mt-3">
        <div class="col-md">
            <img class="img-fluid float-start"
                 src="html/image/norway-consulting-logo-horizontal-resized-2.png"
                 alt="norway consulting">
        </div>
    </div>
    <!-- information -->
    <div class="row mt-3">
        <table class="table align-middle">
            <caption>{{title}}</caption>
            <tr>
                <th>Konsulentnavn</th>
                <td>:</td>
                <td>Gunnar Rønneberg</td>
            </tr>
            <tr>
                <th>Oppdragsgiver</th>
                <td>:</td>
                <td>CatalystOne Solution AS</td>
            </tr>
            <tr>
                <th>Kons.leverandør</th>
                <td>:</td>
                <td>Norway Consulting AS</td>
            </tr>
            <tr>
                <th>Kontaktperson NC</th>
                <td>:</td>
                <td>Anita Lundtveit,+47 973 01 271</td>
            </tr>
            <tr>
                <th>Timeliste sendes</th>
                <td>:</td>
                <td>Anita@norway-consulting.no</td>
            </tr>
            <tr>
                <th>Måned/årstall</th>
                <td>:</td>
                <td>{{timesheetPeriod}}</td>
            </tr>
            <tr>
                <th>Tilbakemelding</th>
                <td>:</td>
                <td></td>
            </tr>
        </table>
        <!-- timesheet table -->
        <table class="table">
            <caption>Oversikt fakturerte timer</caption>
            <thead>
            <tr>
                <th class="text-center">Dato</th>
                <th class="text-center">Fra</th>
                <th class="text-center">Til</th>
                <th class="text-center">Antall timer</th>
                <th class="text-center">Beskrivelse av bistand</th>
            </tr>
            </thead>
            <tbody>
            {{#timesheetEntryDtoList}}
            <tr>
                <td class="text-center">{{workdayDateDay}}</td>
                <td class="text-center">{{fromTime}}</td>
                <td class="text-center">{{toTime}}</td>
                <td class="text-end">{{workedHours}}</td>
                <td class="text-start">{{comment}}</td>
            </tr>
            {{/timesheetEntryDtoList}}
            </tbody>
            <tfoot>
            <tr>
                <th class="text-center">Sum</th>
                <th colspan="2" class="text-end">{{numberOfWorkedDays}}</th>
                <th class="text-end">{{sunBilledHours}}</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>