<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gunnarro:as vedlegg faktura</title>
    <link rel="stylesheet" href="html/css/bootstrap.min-v5.1.0.css">
</head>
<body>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Timesheet summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center">År</th>
                                    <th class="text-center">Måned</th>
                                    <th class="text-center">Uke</th>
                                    <th class="text-center">Fra / til dato</th>
                                    <th class="text-center">Timer</th>
                                    <th class="text-center">Beløp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#timesheetSummaryList}}
                                    <tr>
                                        <td align="center">{{year}}</td>
                                        <td align="center">{{fromDateMM}}</td>
                                        <td align="center">{{weekInYear}}</td>
                                        <td align="center">{{fromDateDDMM}} - {{toDateDDMM}}</td>
                                        <td align="right">{{totalWorkedHours}}</td>
                                        <td align="right">{{totalBilledAmount}}</td>
                                    </tr>
                                {{/timesheetSummaryList}}
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Sum</strong></td>
                                    <td class="thick-line text-right">{{totalBilledHours}}</td>
                                    <td class="thick-line text-right">{{totalBilledAmount}}</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Moms</strong></td>
                                    <td class="no-line text-right">{{vatInPercent}}</td>
                                    <td class="no-line text-right">{{totalVat}}</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Total</strong></td>
                                    <td class="no-line text-right"></td>
                                    <td class="no-line text-right">{{totalBilledAmountWithVat}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </body>
 </html>

